.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20%;
    background-color: #27355C;
    color: white;
    border-top-left-radius: var(--bs-card-border-radius);
    border-bottom-left-radius: var(--bs-card-border-radius);
}

.j-center {
    display: flex;
    justify-content: center;
}

.full-card {
    display: flex;
    min-height: 50vh;
    width: 50rem;
    flex-direction: row !important;
}

.sidebar img {
    padding-top: 24px;
    width: 76px;
}

.sidebar ul,
li {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    gap: 16px;
}

.sidebar_list {
    height: 100%;
    display: flex;
    align-items: center;
}

.start-card-title {
    font-size: 38px;
    text-align: center;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body-bg {
    background-image: url("img/brainbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--bs-card-border-radius);
}

.card-body p {
    font-size: 24px;
    text-align: center;
}
.card-body-bg-color{
    background-color: #F7F7F7;
}

.button_ctn {
    display: flex;
    justify-content: flex-end;
}

.button_ctn button {
    background-color: #FF4C12;
    border: none;
    border-radius: 8px;
    margin-right: 18px;
    font-size: 18px;
    padding: 8px 36px;
    color: white;
}

.progress {
    border-radius: 0 !important;
    --bs-progress-bar-bg: #27355C !important;
    --bs-progress-height: 1.2rem !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.progress-bar {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-title {
    text-align: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.column-space-evenly, img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
}

.card:hover{
    background-color: rgba(255,255,255, 0.1);
}

.score-text{
    font-size: 22px;
    font-weight: 700;
}